{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{#Title#}
{% block title %}
    <title>Reservation</title>
{% endblock %}

{#Style#}
{% block style %}
    <style media="screen">
        .wrapper {
            padding: 3%;
            margin-top: 5%;
            background-color: rgba(255,255,255,0.9);
        }
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        body {
            background-image: url({% static 'img/home_cover.jpg' %});
            background-size: cover;
            background-attachment: fixed;
        }

        .wrapper div:nth-child(3) {
            margin-top: 6%;
        }

    </style>
{% endblock %}

{#Content#}
{% block content %}
    <div class="container">
       <div class="wrapper">
           <div class="row">
               <h1>Orders list</h1>
           </div>
           <div class="row">
               <table class="table">
                   <thead class="thead-dark">
                   <tr>
                       <th scope="col">Menu name</th>
                       <th scope="col">Quantity</th>
                       <th scope="col">Cost</th>
                       <th></th>
                       <th></th>
                   </tr>
                   </thead>
                   <tbody>
                   {% for order in orders %}
                       <tr>
                           <td>{{ order.menu_name }}</td>
                           <td>{{ order.quantity }}</td>
                           <td>{{ order.get_cost }}</td>
                           <td>
                               <button type="button" class="btn btn-warning col" data-toggle="modal" data-target="#editModal">
                                   Edit
                               </button>
                               <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                   <div class="modal-dialog" role="document">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <h5 class="modal-title" id="editModalLabel">Edit</h5>
                                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                               </button>
                                           </div>
                                           <form method="POST" action="{% url 'reservation:order-update' order.id %}">
                                               {% csrf_token %}
                                               <div class="modal-body">
                                                   {{ order_edit_form | bootstrap }}
                                               </div>
                                               <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                   <button type="submit" class="btn btn-primary">Save changes</button>
                                               </div>
                                           </form>
                                       </div>
                                   </div>
                               </div>
                           </td>
                           <td>
                               <button type="button" class="btn btn-danger col" data-toggle="modal" data-target="#deleteModal">
                                   Delete
                               </button>
                               <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                   <div class="modal-dialog" role="document">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <h5 class="modal-title" id="editModalLabel">Delete</h5>
                                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                               </button>
                                           </div>
                                           <form method="POST" action="{% url 'reservation:order-delete' order.id %}">
                                               {% csrf_token %}
                                               <div class="modal-body">
                                                   <h6>Are you sure you wanted to delete this order?</h6>
                                               </div>
                                               <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                   <button type="submit" class="btn btn-danger">Delete</button>
                                               </div>
                                           </form>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   {% empty %}
                       <td colspan="6" class="text-center bg-warning">No Order Placed</td>
                   {% endfor %}

                   </tbody>
                   <tfoot class="thead-dark">
                   {% if orders %}
                       <td>Total</td>
                       <td>{{ total_quantity }}</td>
                       <td>{{ total_cost }}</td>
                       <td></td>
                       <td></td>
                   {% endif %}
                   </tfoot>
               </table>

           </div>
           <div class="row">
               <button type="button" class="btn btn-outline-secondary col-3" data-toggle="modal" data-target="#createModal">
                   Add new order
               </button>
               <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h5 class="modal-title" id="createModalLabel">Edit</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                           </div>
                           <form method="POST" action="{% url 'reservation:order-create'%}">
                               {% csrf_token %}
                               <div class="modal-body">
                                   {{ order_edit_form | bootstrap }}
                               </div>
                               <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                   <button type="submit" class="btn btn-primary">Add</button>
                               </div>
                           </form>
                       </div>
                   </div>
               </div>
               <a class="btn btn-primary offset-6 col-3" href="{% url 'reservation:list'%}">Finish</a>
           </div>
       </div>
    </div>
{% endblock %}

{#Javascript#}
{% block javascript %}

{% endblock %}